server:
  port: 8080

spring:
  datasource:
    username: root
    password: tanrui106
    url: jdbc:mysql://localhost:3306/blockchain?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: tjsse20.covid19logisticsblockchain.entity
  configuration:
    map-underscore-to-camel-case: true

#showSql
logging:
  level:
    com:
      example:
        mapper : debug