<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tjsse20.covid19logisticsblockchain.mapper.LogisticsBlockMapper">

    <resultMap type="LogisticsInfo" id="logisticsMap">
    </resultMap>

    <resultMap id="timelineMap" type="TimelineInfo">
    </resultMap>

    <select id="selectByUserId" resultMap="logisticsMap" parameterType="Integer">
        select l.id id, l.status_ status, l.arriving_time arriving_time, leaving_time, l.risk_level, t.name station_name, t.address station_address, r1.address dest_address, r2.address src_address, r2.name addressor, r1.name recipient, r1.city dest_city, r2.city src_city, l.risk_block, o.id order_id
from logistics_block l, order_ o, transfer_station t, related_person r1, related_person r2
where l.order_id = o.id and l.submiter = #{userId} and l.station_id = t.id and o.recipient_id = r1.id and o.addressor_id = r2.id
order by l.arriving_time desc;
    </select>

    <select id="selectByOrderId" resultMap="logisticsMap" parameterType="Integer">
        select l.id id, l.status_ status, l.arriving_time arriving_time, l.risk_level, t.name station_name, t.address station_address,
       r1.name recipient, r1.address dest_address, r1.longitude dest_longitude, r1.latitude dest_latitude, r2.address src_address, r2.name addressor, r2.longitude src_longitude, r2.latitude src_latitude, r1.city dest_city, r2.city src_city, l.risk_block, o.id order_id, u.username worker_name
from logistics_block l, order_ o, transfer_station t, related_person r1, related_person r2, user u
where l.order_id = o.id and o.id = #{orderId} and l.station_id = t.id and o.recipient_id = r1.id and o.addressor_id = r2.id and l.status_ = 1 and l.submiter = u.id
    </select>

    <select id="selectAllByOrderId" resultMap="logisticsMap" parameterType="Integer">
        select l.id id, l.status_ status, l.arriving_time arriving_time, l.risk_level, t.name station_name, t.address station_address,
       r1.name recipient, r1.address dest_address, r1.longitude dest_longitude, r1.latitude dest_latitude, r2.address src_address, r2.name addressor, r2.longitude src_longitude, r2.latitude src_latitude, r1.city dest_city, r2.city src_city, l.risk_block, o.id order_id, u.username worker_name, t.id station_id
from logistics_block l, order_ o, transfer_station t, related_person r1, related_person r2, user u
where l.order_id = o.id and o.id = #{orderId} and l.station_id = t.id and o.recipient_id = r1.id and o.addressor_id = r2.id and l.submiter = u.id
    </select>

    <select id="selectTimeLineByOrderId" resultMap="timelineMap" parameterType="Integer">
        select l.status_ status, l.arriving_time arriving_time, l.leaving_time leaving_time, t.name station_name, u.username worker_name,
      l.risk_level risk, t.longitude longitude, t.latitude latitude, l.risk_block risk_block, t.transportation_type station_type
from logistics_block l, order_ o, transfer_station t, user u
where l.order_id = o.id and l.station_id = t.id and l.submiter = u.id and o.id = #{orderId} order by l.arriving_time desc;
    </select>

    <update id="updateRisk" parameterType="Integer">
        update logistics_block l
        set l.risk_level = #{risk}
        where l.station_id = #{stationId};
    </update>
    <insert id="insertOrder" parameterType="Order">
        insert into order_(order_time, arriving_time, addressor_id, recipient_id, commodity)
        value (#{orderTime}, #{arrivingTime}, #{addressorId}, #{recipientId}, #{commodity});
        <selectKey resultType="Integer" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertLogistics" parameterType="Logistics">
        insert into logistics_block(station_id, arriving_time, leaving_time, risk_level, submiter, status_, order_id, risk_block)
value (#{stationId}, #{arrivingTime}, #{leavingTime}, #{riskLevel}, #{submiter}, #{status}, #{orderId}, #{riskBlock});
    </insert>

    <select id="selectLogisticsByOrder" resultType="Logistics" parameterType="Integer">
        select * from logistics_block where order_id = #{orderId} order by arriving_time desc;
    </select>

    <update id="updateLogisticsArrivingTime" >
        update logistics_block set leaving_time = #{leavingTime}, status_ = #{status} where id = #{id};
    </update>

    <insert id="insertRelatedPerson" parameterType="RelatedPerson">
        insert into related_person(name, type, address, contact_tel, contact_person, longitude, latitude, risk_level, province, city, district)
        value (#{name}, #{type}, #{address}, #{contactTel}, #{contactPerson}, #{longitude}, #{latitude}, #{riskLevel}, #{province}, #{city}, #{district})
        <selectKey resultType="Integer" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectOrderById" parameterType="Integer" resultType="OrderInfo">
        select o.id id, order_time, r1.name addressor, r2.name recipient, l.risk_level, l.risk_block, u.username worker
from order_ o, related_person r1, related_person r2, logistics_block l, user u
where o.addressor_id = r1.id and o.recipient_id = r2.id and l.order_id = o.id and l.submiter = u.id
  and o.id = #{id} order by l.arriving_time;
    </select>

    <select id="selectByStation" parameterType="Integer" resultMap="logisticsMap" >
        select l.id id, l.status_ status, l.arriving_time arriving_time, l.risk_level, t.name station_name, t.address station_address,
       r1.name recipient, r1.address dest_address, r1.longitude dest_longitude, r1.latitude dest_latitude, r2.address src_address, r2.name addressor, r2.longitude src_longitude, r2.latitude src_latitude, r1.city dest_city, r2.city src_city, l.risk_block, o.id order_id, u.username worker_name
from logistics_block l, order_ o, transfer_station t, related_person r1, related_person r2, user u
where l.order_id = o.id and l.station_id = t.id and o.recipient_id = r1.id and o.addressor_id = r2.id and l.status_ = 1 and l.submiter = u.id
    and t.id = #{stationId}
    </select>

    <select id="selectBySupplier" parameterType="Integer" resultMap="logisticsMap">
        select l.id id, l.status_ status, l.arriving_time arriving_time, l.risk_level, t.name station_name, t.address station_address,
       r1.name recipient, r1.address dest_address, r1.longitude dest_longitude, r1.latitude dest_latitude, r2.address src_address, r2.name addressor, r2.longitude src_longitude, r2.latitude src_latitude, r1.city dest_city, r2.city src_city, l.risk_block, o.id order_id, u.username worker_name
from logistics_block l, order_ o, transfer_station t, related_person r1, related_person r2, user u, user u1
where l.order_id = o.id and l.station_id = t.id and o.recipient_id = r1.id and o.addressor_id = r2.id and l.status_ = 1 and l.submiter = u.id
    and u1.id=#{id} and r2.contact_tel = u1.telephone
    </select>

    <select id="selectByUser" parameterType="Integer" resultMap="logisticsMap">
        select l.id id, l.status_ status, l.arriving_time arriving_time, l.risk_level, t.name station_name, t.address station_address,
       r1.name recipient, r1.address dest_address, r1.longitude dest_longitude, r1.latitude dest_latitude, r2.address src_address, r2.name addressor, r2.longitude src_longitude, r2.latitude src_latitude, r1.city dest_city, r2.city src_city, l.risk_block, o.id order_id, u.username worker_name
from logistics_block l, order_ o, transfer_station t, related_person r1, related_person r2, user u, user u1
where l.order_id = o.id and l.station_id = t.id and o.recipient_id = r1.id and o.addressor_id = r2.id and l.status_ = 1 and l.submiter = u.id
    and u1.id = #{id} and r1.contact_tel = u1.telephone
    </select>

    <select id="selectById" parameterType="Integer" resultType="Logistics">
        select * from logistics_block where id = #{id}
    </select>

</mapper>

