<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tjsse20.covid19logisticsblockchain.mapper.LogisticsMapper">

    <resultMap type="LogisticsInfo" id="logisticsMap">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="arrivingTime" column="arriving_time"/>
        <result property="leavingTime" column="leaving_time"/>
        <result property="riskLevel" column="risk_level"/>
        <result property="stationName" column="station_name"/>
        <result property="currAddress" column="station_address"/>
        <result property="addressor" column="addressor"/>
        <result property="srcAddress" column="addressor_address"/>
        <result property="srcLongitude" column="addressor_longitude"/>
        <result property="srcLatitude" column="addressor_latitude"/>
        <result property="recipient" column="recipient"/>
        <result property="destAddress" column="recipient_address"/>
        <result property="destLongitude" column="recipient_longitude"/>
        <result property="destLatitude" column="recipient_latitude"/>
    </resultMap>

    <resultMap id="timelineMap" type="TimelineInfo">
        <result property="status" column="status"/>
        <result property="arrivingTime" column="arriving_time"/>
        <result property="leavingTime" column="leaving_time"/>
        <result property="stationName" column="station_name"/>
        <result property="workerName" column="worker_name"/>
        <result property="risk" column="risk"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
    </resultMap>

    <select id="selectByUserId" resultMap="logisticsMap" parameterType="Integer">
        select l.id id, o.logistics_number logistics_number, l.status_ status, l.arriving_time arriving_time, leaving_time, l.risk_level, t.name station_name, t.address station_address, r1.address recipient_address, r2.address addressor_address, r2.name addressor, r1.name recipient
from logistics l, order_ o, transfer_station t, related_person r1, related_person r2
where l.order_id = o.id and l.submiter = #{userId} and l.station_id = t.id and o.recipient_id = r1.id and o.addressor_id = r2.id
order by l.arriving_time desc;
    </select>

    <select id="selectByOrderId" resultMap="logisticsMap" parameterType="Integer">
        select l.id id, o.logistics_number logistics_number, l.status_ status, l.arriving_time arriving_time, l.risk_level, t.name station_name, t.address station_address,
       r1.name recipient, r1.address recipient_address, r1.longitude recipient_longitude, r1.latitude recipient_latitude, r2.address addressor_address, r2.name addressor, r2.longitude addressor_longitude, r2.latitude addressor_latitude
from logistics l, order_ o, transfer_station t, related_person r1, related_person r2
where l.order_id = o.id and o.id = #{orderId} and l.station_id = t.id and o.recipient_id = r1.id and o.addressor_id = r2.id and l.status_ = 1;
    </select>

    <select id="selectTimeLineByOrderId" resultMap="timelineMap" parameterType="Integer">
        select l.status_ status, l.arriving_time arriving_time, l.leaving_time leaving_time, t.name station_name, u.username worker_name,
       t.risk risk, t.longitude longitude, t.latitude latitude
from logistics l, order_ o, transfer_station t, user u
where l.order_id = o.id and l.station_id = t.id and l.submiter = u.id and o.id = #{orderId} order by l.arriving_time desc;
    </select>

    <update id="updateRisk" parameterType="Integer">
        update logistics l
        set l.risk_level = #{risk}
        where l.station_id = #{stationId};
    </update>
    <insert id="insertOrder" parameterType="Order">
        insert into order_(order_time, arriving_time, addressor_id, recipient_id, commodity)
        value (#{orderTime}, #{arrivingTime}, #{addressorId}, #{recipientId}, #{commodity});
    </insert>

    <insert id="insertLogistics" parameterType="Logistics">
        insert into logistics(station_id, arriving_time, leaving_time, risk_level, submiter, status_, order_id)
value (#{stationId}, #{arrivingTime}, #{leavingTime}, #{riskLevel}, #{submiter}, #{status}, #{orderId});
    </insert>

    <select id="selectLogisticsByOrder" resultType="Logistics" parameterType="Integer">
        select * from logistics where order_id = #{orderId} order by arriving_time desc;
    </select>

    <update id="updateLogisticsArrivingTime" >
        update logistics set leaving_time = #{leavingTime}, status_ = #{status} where id = #{id};
    </update>

    <insert id="insertRelatedPerson" parameterType="RelatedPerson">
        insert into related_person(name, type, address, contact_tel, contact_person, longitude, latitude, risk_level)
        value (#{name}, #{type}, #{address}, #{contactTel}, #{contactPerson}, #{longitude}, #{latitude}, #{riskLevel})
        <selectKey resultType="Integer" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

</mapper>

