<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tjsse20.covid19logisticsblockchain.mapper.UserMapper">
    <resultMap type="user" id="userMap">
        <id property="id" column="id"/>
        <result property="telephone" column="telephone"/>
        <result property="type" column="type"/>
        <result property="type_name" column="typeName"/>
        <result property="passwd" column="passwd"/>
        <result property="identity_card" column="identityCard"/>
        <result property="status_" column="status"/>
        <result property="station_id" column="stationId"/>
        <result property="username" column="username"/>
        <result property="introduction" column="introduction"/>
        <result property="contact_person" column="contactPerson"/>
    </resultMap>

    <select id="selectByTel" parameterType="String" resultMap="userMap">
        select * from user where telephone=#{telephone};
    </select>

    <insert id="register" parameterType="User">
        insert into user(telephone,type,type_name,passwd,identity_card,status_,station_id,username,introduction,contact_person)
        values(#{telephone},#{type},#{typeName},#{passwd},#{identityCard},#{status},#{stationId},#{username},#{introduction},#{contactPerson});
    </insert>

    <update id="update" parameterType="User">
        update user
set telephone = #{telephone}, type = #{type}, type_name = #{typeName}, passwd = #{passwd}, identity_card = #{identityCard}, status_ = #{status},
    station_id = #{stationId}, username = #{username}, introduction = #{introduction}, contact_person = #{contactPerson}
where id = #{id};
    </update>

    <select id="select" resultType="User" parameterType="Integer">
        select * from user where id = #{id};
    </select>
</mapper>

